
/* Responsive */








@media (min-width: 500px) { 

  .btnsModal button:first-child{ 
    padding: 4px;
    font-size: 21px;
    background: red;
    color: white;
    border: none;
    margin: 4px 10px;
    box-shadow: 2px 2px 0 black;
    cursor: pointer;
    display: none;
  }

  .btnsModal button:last-child {

    padding: 4px;
    font-size: 21px;
    background: blue;
    color: white;
    border: none;
    margin: 4px 10px;
    box-shadow: 2px 2px 0 black;
    cursor: pointer;
  }

  .simple-modal {
    background: white;
    padding: 17px;
    border-radius: 8px;
    text-align: center;
    height: auto;
    width: 25%;
  }

  .simple-modal h1 { 
    margin-bottom: 15px;
  }

  .simple-modal p {
    width: 90%;
    margin: 15px auto;
    font-size: 22px;
  }

  .containerSimple {
    position: fixed;
    background: rgba(0, 0, 0, 0.362);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .warning  {
    width: 52%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;

  }

  .deleteDataH1 {
    text-align: center;
    margin: 15px auto;
  }

  .deleteDataForm {
    margin: 20px auto;
    text-align: center;
  }

  .deleteDataForm button { 
    padding: 8px;
    font-size: 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .deleteDataForm button:hover {
    transition: 0.6s;
    box-shadow: 3px 3px 0px black;
  }
  .deleteDataForm button:not(:hover) {
    transition: 0.6s;
  }

  .deleteDataForm button:active {
    transition: 0.2s;
    padding: 6px;
  }

  .total-box{
    height: 66px;
    margin: 0 8px;
  }
  .total-boxi {
    left: 12px;
    font-size: 25px;
  }
  .total-box input {
    padding: 0 112px 0 50px;
  }
  .total-box .search-btn {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }

  .inside-schedule{ 
    height: 300px;
  }
  
  .total-box {
    position: relative;
    height: 76px;
    width: 80%;
    background: #fff;
    margin: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .total-boxi,
  .total-box .search-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .total-box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
  }
  .total-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
  }
  .total-box .search-btn {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
  }
  .total-box .search-btn:active {
    transform: translateY(-50%) scale(0.98);
  }


}

@media  (max-width: 500px) {

  .btnsModal button:first-child{ 
    padding: 4px;
    font-size: 21px;
    background: red;
    color: white;
    border: none;
    margin: 4px 10px;
    box-shadow: 2px 2px 0 black;
    cursor: pointer;
    display: none;
  }

  .btnsModal button:last-child {

    padding: 4px;
    font-size: 21px;
    background: blue;
    color: white;
    border: none;
    margin: 4px 10px;
    box-shadow: 2px 2px 0 black;
    cursor: pointer;
  }

  .simple-modal {
    background: white;
    padding: 17px;
    border-radius: 8px;
    text-align: center;
    height: auto;
    width: 80%;
  }

  .simple-modal h1 { 
    margin-bottom: 15px;
  }

  .simple-modal p {
    width: 90%;
    margin: 15px auto;
    font-size: 22px;
  }

  .containerSimple {
    position: fixed;
    background: rgba(0, 0, 0, 0.362);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .warning  {
    width: 100%;
    margin: 15px auto;
    font-size: 20px;
    text-align: center;

  }

  .deleteDataH1 {
    text-align: center;
  }

  .deleteDataForm {
    margin: 20px auto;
    text-align: center;
  }

  .deleteDataForm button { 
    padding: 8px;
    font-size: 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .deleteDataForm button:hover {
    transition: 0.6s;
    box-shadow: 3px 3px 0px black;
  }
  .deleteDataForm button:not(:hover) {
    transition: 0.6s;
  }

  .deleteDataForm button:active {
    transition: 0.2s;
    padding: 6px;
  }


  .total-box{
    height: 66px;
    margin: 0 8px;
  }
  .total-boxi {
    left: 12px;
    font-size: 25px;
  }
  .total-box input {
    padding: 0 112px 0 50px;
  }
  .total-box .search-btn {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }

  .inside-schedule{ 
    height: 300px;
  }
  
  .total-box {
    position: relative;
    height: 76px;
    width: 90%;
    background: #fff;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .total-boxi,
  .total-box .search-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .total-box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
  }
  .total-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
  }
  .total-box .search-btn {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
  }
  .total-box .search-btn:active {
    transform: translateY(-50%) scale(0.98);
  }
}